
# Arquivos e diretórios específicos da IDE Eclipse
.metadata/
bin/
.settings/

# Diretório específico do Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Arquivos de configuração do Eclipse
.classpath
.project

# Diretório de saída de compilação do Eclipse
target/

# Outros arquivos e diretórios que podem ser gerados durante a compilação ou execução
/out/

# Bibliotecas binárias
/libs/

# Evitar arquivos de sistema
.DS_Store  # para usuários de MacOS
Thumbs.db   # para usuários de Windows
